@{
    ViewData["Title"] = "Dragon Shop";
}
<div>
    <div class="text-center mb-5 mt-3">
        <h1>Табак для кальяна в Украине - интернет-магазин Dragon Shop</h1>
        <article>
            <p>
                Интернет-магазин табака Dragon Shop (DS) предлагает широкий ассортимент табачных изделей от ведущих мировых брендов, завоевавших любовь, миллионов сердец своих клиентов.
            </p>
        </article>
    </div>
    <div class="mb-5 text-center"><img src="~/images/domain/hookah2.jpg" /></div>
    <div class="mb-5">
        <h2>Почему еще стоит выбрать магазин по продаже табачных DS в Украине? Мы предлагаем следующие преимущества:</h2>
        <article>
            <ul>
                <li>Приятные цены на весь ассортимент товаров.</li>
                <li>Продажа в развес самых востребованных ТМ.</li>
                <li>Интуитивная навигация по сайту, удобные фильтры для поиска.</li>
                <li>Подробные описания и характеристики товаров.</li>
                <li>Тщательная упаковка каждого заказа.</li>
                <li>Оперативная доставка по всей Украине.</li>
                <li>Акции, скидки, подарки от DS и производителей.</li>
            </ul>
        </article>
    </div>
    <div class="mb-5">
        <h3>Как сделать заказ?</h3>
        <article>
            <p>Для того чтобы оформить заказ, есть 2 варианта:</p>
            <ol>
                <li>
                    Заказ в один клик. При данной функции вам необходимо:
                    <ul>
                        <li>открыть карточку с товаром, который хотите приобрести.</li>
                        <li>выбрать количество данного товара..</li>
                        <li>ввести активный номер в поле «заказать в 1 клик».</li>
                        <li>нажать кнопку «купить».</li>
                        <li>В ближайшее время с вами свяжется менеджер, для уточнения вашего заказа, метода оплаты и доставки.</li>
                    </ul>
                </li>
                <li>
                    Заказ через корзину. Вы «гуляете» по сайту, выбираете товары, которые вас заинтересовали и добавляете их в корзину. 
                    Как только выбрали все и ничего не забыли, вы переходите в корзину, вводите все необходимые данные и все, ваш заказ ушел в обработку.
                    В ближайшее время с вами свяжется наш менеджер, чтобы уточнить все детали.
                </li>
            </ol>
        </article>
    </div>
</div>



