@{
    ViewData["Title"] = "Dragon Shop - Доставка и оплата";
    Layout = "_Layout";
}

<div>
    <div>
        <h1>Доставка и оплата</h1>
        <article>
            <p>Интернет-магазин DS предлагает быструю доставку в любой населенный пункт Украины.</p>
            <p>
                По всей территории Украины, мы делаем отправки при помощи услуг «Новой Почты».
                Все отправленные посылки следуют из города Днепр. Время доставки, в ваш населенный пункт, от 1 до 3 дней. Доставку заказа оплачивает получатель.
            </p>
        </article>
    </div>
    <div>
        <h2>Оплатить заказ можно 2 способами</h2>
        <article>
            <ul>
                <li>полная оплата заказа, по реквизитам.</li>
                <li>оплата наложенным платежом, по предоплате в 300 грн.</li>
            </ul>
        </article>
        <article>
            <p>
                Предоплата в 300 грн необходима для того, чтобы покрыть транспортные издержки.
                Если клиент не забирает заказ и не отвечает на звонки и сообщения менеджеров, в течении 10 рабочих дней,
                мы делаем обратную доставку заказа. Из 300 грн мы вычитываем транспортные издержки и остаток отправляем клиенту на карту,
                с которой была произведена предоплата по данному заказу. Приносим свои извинения за данную процедуру, ситуаций данного рода, бывает очень много.
            </p>
        </article>
    </div>
    <div>
        <h2>График приема и обработки отказов</h2>
        <article>
            <p>
                Интернет заказы мы обрабатываем с понедельника по воскресенье c 10:00 до 21:00. Заказы,
                которые Вы оформляете после 21:00, мы обрабатываем на следующий рабочий день.
                В праздничные дни, заказ может быть перенесен на 1 день.
            </p>
        </article>
    </div>
    <div>
        <h2>Безналичная оплата</h2>
        <article>
            <p>
                После уточнение Вашего заказа, менеджер отправит Вам банковские реквизиты, для оплаты.
                При оплате заказа, учитывайте пожалуйста комиссию своего банка, в нашем банке, комиссия при получении, отсутствует.
            </p>
        </article>
    </div>
</div>
